#MenuUser{
    position: absolute;
    top: 100%; 
    left: 0; 
    display: none; 
    min-width: 200px;
    background-color: aqua;
}

#usuario {
    position: relative; /* Agrega posición relativa al elemento <li> #usuario */
}

#usuario:hover #MenuUser{
    display: block;
}

#MenuUser a{
    color: white;
    text-decoration: none;
}

#MenuUser a:hover{
    color: orange;
    text-decoration: none;
}

#MenuUser li {
    margin: 10px 0;
}